@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 52%;
  overflow: hidden;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #444444e5;
  background: #f4f4f4;
  font-weight: 500;
  overflow: hidden;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/* .hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(100%);
} */

button:hover {
  cursor: pointer;
}
/*--------------*/
/* Heading  */

h1 {
  font-size: 2.1rem;
}

.logo {
  height: 3.7rem;
  width: 3.7rem;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #999, #f4f4f4);
}

.main-header {
  padding: 3rem 2rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-in {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.sign-in > input {
  text-align: center;
  width: 12rem;
  height: 3.1rem;
  border-radius: 2rem;
  border: none;
  font-size: 1.6rem;
  color: inherit;
  transition: all 0.3s;
}

.sign-in > input::placeholder {
  color: #9999996b;
}

.sign-in *:focus {
  outline: none;
  offset: 8px;
  box-shadow: inset 0 0 0 2px #ececec;
}

.sign-in button {
  background: none;
  border: none;
  font-size: 3rem;
  transform: translateY(-15%);
}

/*--------------*/
/* Main  */

main {
  padding: 3rem 0;
  transition: all 1s;
  transform: translateY(0);
}

/* App header  */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.bal-text {
  font-size: 2.2rem;
}

.date-text {
  font-size: 1.7rem;
  color: #999;
}

.balance {
  font-size: 3.7rem;
  font-weight: 600;
}

.grid {
  display: grid;
}

.layout {
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 44rem;
  row-gap: 1.5rem;
  column-gap: 1.7rem;
}

/* History */
.histories {
  background: #fff;
  border-radius: 1.2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.history {
  display: flex;
  justify-content: space-between;
  padding: 3rem 4rem;
}

.history:not(:last-child) {
  border-bottom: 1px solid #f1f1f1;
}

.tag {
  color: #fff;
  padding: 0.3rem 1rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  font-weight: 600;
}

.tag--deposit {
  background: linear-gradient(to bottom right, #1bce1bb2, #008000ad);
}

.tag--withdrawal {
  background: linear-gradient(to bottom right, #e52a5a, #ff585f);
}

.amount {
  font-size: 2rem;
}

/* Actions Form */
.form-title {
  font-size: 1.9rem;
  margin-bottom: 1rem;
}

.actions {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1.7rem;
}

.actions form {
  padding: 2.2rem 3rem;
  border-radius: 1rem;
}

.actions form input {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 0.6rem;
  transition: all 0.3s;
}

.actions form input:focus {
  outline: none;
  background: #f4f4f4af;
}

label {
  font-size: 1.6rem;
}

.action {
  font-size: 1.4rem;
  text-align: center;
  align-items: start;
  gap: 1rem;
}

.grid-3-col {
  grid-template-columns: 40% 40% 10%;
}

.grid-2-col {
  grid-template-columns: 40% 10%;
}

.confirm {
  background: #fff;
  border: none;
  border-radius: 0.5rem;
  font-size: 2rem;
}

.actions input {
  border: none;
  height: 2.3rem;
  border-radius: 0.7rem;
  background: #f4f4f47c;
}

.transfer {
  background: #ffc400;
}

.loan {
  background: linear-gradient(to bottom right, #1bce1bb2, #008000ad);
}

.close-account {
  background: linear-gradient(to bottom right, #e52a5a, #ff585f);
}

.summary {
  display: flex;
  gap: 2rem;
}

.summary > p {
  font-size: 1.4rem;
}

p.sort {
  margin-left: auto;
  margin-right: 3rem;
  font-size: 1.6rem;
}

.sort:hover {
  cursor: pointer;
}

span.tag--deposit,
span.tag--withdrawal {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 2rem;
  margin-left: 0.5rem;
}

.logout-countdown {
  justify-self: right;
  font-size: 1.6rem;
}
